<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GerenxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Gerenxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="gonghao" jdbcType="VARCHAR" property="gonghao" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="nianling" jdbcType="VARCHAR" property="nianling" />    <result column="shengao" jdbcType="VARCHAR" property="shengao" />    <result column="tizhong" jdbcType="VARCHAR" property="tizhong" />    <result column="xueya" jdbcType="VARCHAR" property="xueya" />    <result column="shentiyichangqingkuang" jdbcType="VARCHAR" property="shentiyichangqingkuang" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gonghao,xingming,xingbie,nianling,shengao,tizhong,xueya,shentiyichangqingkuang,beizhu, addtime
  </sql>
  <select id="quchongGerenxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from gerenxinxi 
    where gonghao = #{gonghao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from gerenxinxi  where 1=1
    <if test="gonghao!=null">and gonghao like  concat('%',#{gonghao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="nianling!=null">and nianling like  concat('%',#{nianling,jdbcType=VARCHAR},'%')</if>     <if test="shengao!=null">and shengao like  concat('%',#{shengao,jdbcType=VARCHAR},'%')</if>     <if test="tizhong!=null">and tizhong like  concat('%',#{tizhong,jdbcType=VARCHAR},'%')</if>     <if test="xueya!=null">and xueya like  concat('%',#{xueya,jdbcType=VARCHAR},'%')</if>     <if test="shentiyichangqingkuang!=null">and shentiyichangqingkuang like  concat('%',#{shentiyichangqingkuang,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from gerenxinxi  where 1=1
    <if test="gonghao!=null">
    and gonghao =#{gonghao}
    </if>
  </select>
  
  <select id="getsygerenxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from gerenxinxi  where 1=1
    limit 0,8
  </select>
  <select id="getsygerenxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from gerenxinxi  where 1=1
    limit 0,8
  </select>
  <select id="getsygerenxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from gerenxinxi  where 1=1
    limit 0,8
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from gerenxinxi where 1=1 
     <if test="gonghao!=null">and gonghao like  concat('%',#{gonghao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="nianling!=null">and nianling like  concat('%',#{nianling,jdbcType=VARCHAR},'%')</if>     <if test="shengao!=null">and shengao like  concat('%',#{shengao,jdbcType=VARCHAR},'%')</if>     <if test="tizhong!=null">and tizhong like  concat('%',#{tizhong,jdbcType=VARCHAR},'%')</if>     <if test="xueya!=null">and xueya like  concat('%',#{xueya,jdbcType=VARCHAR},'%')</if>     <if test="shentiyichangqingkuang!=null">and shentiyichangqingkuang like  concat('%',#{shentiyichangqingkuang,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gerenxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gerenxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Gerenxinxi">
    insert into gerenxinxi (id, gonghao,xingming,xingbie,nianling,shengao,tizhong,xueya,shentiyichangqingkuang,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{gonghao,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{nianling,jdbcType=VARCHAR},#{shengao,jdbcType=VARCHAR},#{tizhong,jdbcType=VARCHAR},#{xueya,jdbcType=VARCHAR},#{shentiyichangqingkuang,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Gerenxinxi">
    insert into gerenxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gonghao != null"> gonghao, </if>      <if test="xingming != null"> xingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="nianling != null"> nianling, </if>      <if test="shengao != null"> shengao, </if>      <if test="tizhong != null"> tizhong, </if>      <if test="xueya != null"> xueya, </if>      <if test="shentiyichangqingkuang != null"> shentiyichangqingkuang, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gonghao != null"> #{gonghao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="nianling != null"> #{nianling,jdbcType=VARCHAR},</if>      <if test="shengao != null"> #{shengao,jdbcType=VARCHAR},</if>      <if test="tizhong != null"> #{tizhong,jdbcType=VARCHAR},</if>      <if test="xueya != null"> #{xueya,jdbcType=VARCHAR},</if>      <if test="shentiyichangqingkuang != null"> #{shentiyichangqingkuang,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Gerenxinxi">
    update gerenxinxi
    <set>
	  <if test="gonghao != null"> gonghao = #{gonghao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="nianling != null"> nianling = #{nianling,jdbcType=VARCHAR},</if>      <if test="shengao != null"> shengao = #{shengao,jdbcType=VARCHAR},</if>      <if test="tizhong != null"> tizhong = #{tizhong,jdbcType=VARCHAR},</if>      <if test="xueya != null"> xueya = #{xueya,jdbcType=VARCHAR},</if>      <if test="shentiyichangqingkuang != null"> shentiyichangqingkuang = #{shentiyichangqingkuang,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Gerenxinxi">
    update gerenxinxi
    set gonghao = #{gonghao,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},nianling = #{nianling,jdbcType=VARCHAR},shengao = #{shengao,jdbcType=VARCHAR},tizhong = #{tizhong,jdbcType=VARCHAR},xueya = #{xueya,jdbcType=VARCHAR},shentiyichangqingkuang = #{shentiyichangqingkuang,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
