<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"D:\add\org\apache\ibatis\builder\xml\mybatis-3-config.dtd">
<configuration>

   <mappers>
   <mapper  resource="com/mapper/AllusersMapper.xml"/>
   <mapper  resource="com/mapper/YonghuzhuceMapper.xml"/>
   <mapper  resource="com/mapper/XinwentongzhiMapper.xml"/>
   <mapper  resource="com/mapper/PinglunMapper.xml"/>
   <mapper  resource="com/mapper/ShoucangjiluMapper.xml"/>
   <mapper  resource="com/mapper/LiuyanbanMapper.xml"/>
   <mapper  resource="com/mapper/YouqinglianjieMapper.xml"/>
   <!--jixacxicxhu-->
   <mapper  resource="com/mapper/TijianjieguoMapper.xml"/>
   <mapper  resource="com/mapper/GerenxinxiMapper.xml"/>
   <mapper  resource="com/mapper/ShiputuijianMapper.xml"/>
   <mapper  resource="com/mapper/JibingyucepingguMapper.xml"/>
   <mapper  resource="com/mapper/JiankangrizhiMapper.xml"/>
   <mapper  resource="com/mapper/JiaoshiMapper.xml"/>
   
   </mappers>

</configuration>
